body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiDateCalendar-root {
  border-radius: 12px;
  background-color: #fff;
}

@media (max-width: 678px) {
  .MuiDateCalendar-root {
    max-width: 270px;
  }
}

.MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #378760 !important;
}
/* .MuiButtonBase-root-MuiPickersDay-root.Mui-selected */

.bottomBox {
  background-color: #378760;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
